/_*
/3rdparty/include
/3rdparty/lib
/*.bat
/bin
/CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.db
*.dir
/doc/html
/lib
Makefile
*.opendb
/*.sh
/*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs
Win32
