*.bat
bin
CMakeCache.txt
CMakeFiles
cmake_install.cmake
coverage/*
coverage.info
CTestTestfile.cmake
*.db
*.dir
doc/html
lib
Makefile
*.opendb
*.sh
*.sln
src/config.h
Testing
tetrium.ypq
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs
Win32
