/3rdparty/include
/3rdparty/lib
/*.bat
/bin
/CMakeCache.txt
CMakeFiles
cmake_install.cmake
cotire
*_cotire.cmake
*.db
*.dir
/doc/html
*.inc
/lib
Makefile
*.opendb
/*.sh
/*.sln
/src/config.h
/tetrium.ypq
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs
Win32
